body {
    padding-top: 50px;
}
.site-cards-container {
    width: 700px;
    margin: auto;
}
.site-info-cards {
    color: white !important;
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
    float: left;
    margin: 10px;
}

.site-info-cards > a {
    color: white !important;
}

.contact-people-container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.footer {
    text-align: center;
    clear: both;
}